<div class="row">
    <span class="label">Employee ID : </span>
    <span class="value" th:text="${employee.employeeId}"></span>
</div>

<div class="row">
    <span class="label">Name : </span>
    <span class="value" th:text="${employee.name}"></span>
</div>

<div class="row">
    <span class="label">Company : </span>
    <span class="value" th:text="${employee.company}"></span>
</div>

<div class="row">
    <span class="label">Location : </span>
    <span class="value" th:text="${employee.location}"></span>
</div>