<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SavePreferenceServlet</servlet-name>
        <servlet-class>com.example.SavePreferenceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SavePreferenceServlet</servlet-name>
        <url-pattern>/savePreference</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ViewPreferenceServlet</servlet-name>
        <servlet-class>com.example.ViewPreferenceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewPreferenceServlet</servlet-name>
        <url-pattern>/viewPreference</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

</web-app>